.destinationsOuter {
    background-color: #171E24;
    /* background-color: white; */
}
.destinationsContainer h2 {
    vertical-align: middle;
    text-align: center;
}

.destinations {
    left: 50%;
}

.headerMsg {
    color: white;
    vertical-align: middle;
    text-align: center;
}

