.originInput {
    background-color: aliceblue;
    width: 100%;
}

h2.cityInput {
    position: absolute;
    top: 30%;
    color: white;
}

.cityInput {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.cityInput {
    width: 350px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

button.cityInput {
    position: absolute;
    width: 60px;
    height: 30px;
    margin-top: 40px;
    background-color: rgb(181, 190, 190);
    border: none;
    border-radius: 5px;
}